version: '3'
services:
  php:
    container_name: php_latest
    domainname: php
    hostname: php
    build:
      context: docker/php
    working_dir: "/var/www/app"
    environment:
      XDEBUG_CONFIG: "remote_host=192.168.222.1 remote_enable=1"
      PHP_IDE_CONFIG: "serverName=Docker"
    networks:
      - internal
    links:
      - "mysql"
    volumes:
      - "./src:/var/www/app"
      - "./docker/php/php-fpm.conf:/usr/local/etc/php-fpm.conf"
      - "./docker/php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf"
      - "./docker/php/php.ini:/usr/local/etc/php/php.ini"
    tty: true
  nginx:
    container_name: nginx_latest
    domainname: nginx
    hostname: nginx
    image: nginx:1.13
    volumes:
      - "./src:/var/www/app"
      - "./docker/nginx/vhost.conf:/etc/nginx/conf.d/default.conf:ro"
      - "./docker/nginx/nginx.conf:/etc/nginx/nginx.conf"
      - "./certbot/conf:/etc/letsencrypt"
      - "./certbot/www:/var/www/certbot"
    ports:
      - 80:80
      - 443:443
    links:
      - "php"
    networks:
      - internal
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - "./certbot/conf:/etc/letsencrypt"
      - "./certbot/www:/var/www/certbot"
    command: certonly --webroot -w /var/www/certbot --force-renewal --email panasenkodima97@gmail.com -d spirit.pp.ua --agree-tos
  mysql:
    image: mysql:5.7
    container_name: mysql
    domainname: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB_NAME}
      MYSQL_USER: ${MYSQL_DB_NAME}
      MYSQL_PASSWORD: ${MYSQL_DB_ROOT_PASSWORD}
      ports:
        - 81:3306
      networks:
        - internal
      phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: pma
        domainname: pma
        hostname: pma
        links:
          - mysql:mysql
        environment:
          PMA_HOST: mysql
          PMA_PORT: 3306
        restart: always
        ports:
          - 82:80
        networks:
          - internal
networks:
  internal:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.222.0/28

